<!DOCTYPE html>
<html>
  <head>
    <title>AjaxExercise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= link_to "jQuery 練習一", jquery_1_path %> |
    <%= link_to "jQuery 練習二", jquery_2_path %> |
    <%= link_to "jQuery 練習三", jquery_3_path %> |
    <%= link_to "jQuery 練習四", jquery_4_path %> |
    <%= link_to "jQuery 練習五", jquery_5_path %>
  </body>
</html>
